.leftside, .rightside {
    height: 50vh;
    width: 100%;
}

@media screen and (min-width:768px) {
    .leftside, .rightside {
        height: 100vh;
    }
}

.leftside {
    /* Photo by Karl Solano from Pexels */
    background-image: url("./assets/person-wearing-grey-nike-sneakers-2729899.jpg");
    background-position: center;
    background-color: black;
    background-size: cover;
}

.rightside {
    background: #253133;
}

#exerciseForm, #workoutForm {
width: 50%;
}

#workout {
    opacity: .6;
}

#exerciseHeader {
    color:white;
}

#workoutName {
    color: white;
}

#workoutTable {
    color:white;
    width: 50%;
}