.leftside {
    height: 500px;
    width: 100%;
}

.rightside {    
    width: 100%;
    height: 100%;
}

@media screen and (min-width:768px) {
    .leftside, .rightside {
        height: 100vh;
    }
}

.leftside {
    /* Photo by Karl Solano from Pexels */
    background-image: url("./assets/person-wearing-grey-nike-sneakers-2729899.jpg");
    background-position: center;
    background-color: black;
    background-size: cover;
}

.rightside {
    background: #253133;
}

#leftsideContainer {
    width: 70%;
}

#title {
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 200%;

}

#workoutForm {
    width:80%;
}


#exerciseForm {
width: 50%;
}

#inputWorkout, #workout {
    opacity: .8;
}

#exerciseHeader {
    color:white;
}

#workoutName {
    color: white;
}

#workoutTable {
    color:white;
    width: 50%;
}